body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

div {
  background-color: green;
  height: 50px;
  width: 50px;
}
ul {
  display: flex;
}
li {
  background-color: blue;
  height: 50px;
  width: 50px;
  margin:50px;
}
